@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Courgette&family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
}



.blocks{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.right-side{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}
.left-side{
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
}
.middle{
    display: flex;
    flex-direction: column;
    flex-basis: 3%;
}

.header-block{
    background: #88b0ba;
    flex-basis: 15hv;
}
.logo1{
    font-family: "Courgette";
    font-size: 30pt;
    float: right;
    padding: 2%;
    padding-right: 5%;
}

.main-block{
    background: #b6c9cf;
    flex-basis: 70vh;
    padding: 2%;
}
.highButton{
    background-color: white;
    border: 2px solid #008CBA;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.highButton:hover {
    background-color: #008CBA;
    color: white;
  }
.main-text-first{
    font-family: "Libre Baskerville";
    font-size: 14pt;
    padding-bottom: 3%;
}
.main-text-second{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 3%;
    padding-top: 3%;
}
.main-text-third{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 5%;
    padding-top: 5%;
}
.main-text-fourth{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 5%;
    padding-top: 5%;
}
.main-text-fifth{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 5%;
    padding-top: 5%;
}
.some-list{
    font-family: "Libre Baskerville";
    font-size: 14pt;
    padding-left: 5%;
    padding-top: 2%;
}
.dog-img{
       /* height: 504px;*/
        width: 490px;
        max-width: 100%;
        height: auto;
}
.SaveButton1, .SaveButton2, .SaveButton3, .SaveButton4{
    background-color:white;
    border: 2px solid #6cd9a3;
    color: #036334;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 14px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.SaveButton1:hover {
    background-color: #6cd9a3;
    color: white;
  }
  .SaveButton2:hover {
    background-color: #6cd9a3;
    color: white;
  }
  .SaveButton3:hover {
    background-color: #6cd9a3;
    color: white;
  }
  .SaveButton4:hover {
    background-color: #6cd9a3;
    color: white;
  }
.DiascardButton1, .DiascardButton2, .DiascardButton3, .DiascardButton4{
    background-color:white;
    border: 2px solid #d17160;
    color: #631002;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 14px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.DiascardButton1:hover {
    background-color: #d17160;
    color: white;
  }
  .DiascardButton2:hover {
    background-color: #d17160;
    color: white;
  }
  .DiascardButton3:hover {
    background-color: #d17160;
    color: white;
  }
  .DiascardButton4:hover {
    background-color: #d17160;
    color: white;
  }
  input[type=text] {
    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid #008CBA;
  }
  .func{
    font-family: "Libre Baskerville";
    font-size: 14pt;
    padding-top: 3%;
  }


.footer-block{
    background: #88b0ba;
    display: flex;
    flex-direction: row;
    flex-basis: 15hv;
}
.logo2{
    font-family: "Courgette";
    font-size: 30pt;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-grow: 6;
}
.text-in-footer{
    background: #88b0ba;
    font-family: Play;
    font-size: 12px;
    padding: 2%;
    padding-top: 3%;
    flex-grow: 1;
}

.menu-block{
    flex-grow: 7;
    position: fixed;
    background: #eadbff;
    top: 0;
    min-height: 88%;
    width: 22%;
    left: 78%;
    flex-grow: 6;
    list-style: none;
}
.menu-block a{
    text-decoration: none;
    outline: none;
    display: block;
    font-family: "Play";
    font-size: 14pt;
    padding: 12px;
    letter-spacing: 1px;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.menu-block a:hover {
    background-color: #d8bdff;
}

.info-block{
    position: fixed;
    top: 88%;
    width: 22%;
    left: 78%;
    bottom: 0;
    
    background: #ad88d1;
    font-family: Play;
    font-size: 14px;
    padding-left: 1%;
    padding-top: 0.5%;
}
